body {
  background-color: rgb(248, 240, 229);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.calendar {
  background-color: white;
  border-radius: 2vw;
  text-align: center;
}
.calMonth {
  padding:3vh 0 0 0;
  font-weight:bold;
}
.calYear {
  padding:0 0 2vh 0;
  font-weight:bold;
}
.daysOfTheWeek {
  padding:0;
}
.daysOfTheWeek li{
  color:gray;
  padding:0;
	width:14%;
	font-family:arial;
	font-weight:bold;
	font-size:20px;
  display: inline-block;
}
.days {
  color:gray;
	width:14%;
	font-family:arial;
	font-weight:bold;
	font-size:20px;
  display: inline-block;
  margin:1% 0;
}
.daysAfter {
  text-decoration: "none";
  font-family:arial;
	font-weight:bold;
	font-size:20px;
  display: inline-block;
  font-size: 20px;
  margin:4% 0;
}
.daysContainer {
	font-family:arial;
	font-weight:bold;
  padding: 0;
}
.daysButton {
  width:100%;
  height:100%;
  margin:0 ;
  font-size: 3vh;
  background-color: white;
  border: none;
}
.wordsFontColor {
  color:rgb(143, 133, 123);
}
.selectedFontColor {
  color:rgb(146, 102, 61);
  border: 1px solid;
}
.disabledFontColor {
  color:lightgray;
  text-decoration: none;
}
.iconImg {
  padding: 0 0 0 0;
  width: 15vw;
  height: 15vw;
}
.navStyle:hover {
  color:rgb(143, 133, 123);
}
.calMonthPrev {
  background-color: rgb(248, 240, 229);
  border: none;
  transition: 250ms;
  position: absolute;
}
.calMonthPrev:hover {
  color:rgb(184, 171, 157);
  transform: scale(1.2);
}
.calMonthNext {
  background-color: rgb(248, 240, 229);
  border: none;
  transition: 250ms;
  position: absolute;
}
.calMonthNext:hover {
  color:rgb(184, 171, 157);
  transform: scale(1.2);
}
.date_display {
  font-weight: bold;
  text-shadow: rgb(151, 119, 51) 1px 1px;
  color:rgb(143, 133, 123);
}
.pageNotFound {
  text-align: center;
  padding:3%;
  margin:0% 10%;
  width:80%;
  height:70vh;
  background-color:rgb(254, 254, 254);
  border-radius: 30px;
  color:rgb(143, 133, 123);
  font-size: large;
  font-weight: bold;
}


/* computer size */
@media screen and (min-width:1024px){ 
  .iconImg {
    padding: 0 0 0 0;
    width: 4vw;
    height:4vw;
  }
  .navStyle {
    padding: 0 0 0 3vh;
    display: flex;
    color:rgb(143, 133, 123);
    font-size: 6vh;
    border: none;
    font-family: arial;
  }
  .content {
    padding: 12vh 0 0 0;
  }
  .calendar {
    width:80vw;
    margin:0 0 0 10vw;
  }
  .calMonthPrev {
    left:5%;
    bottom:45%;
  }
  .calMonthNext {
    right:5%;
    bottom:45%;
  }
  .pics {
    width:94%;
    margin: 0 0 1% 0;
    border-radius: 1vw;
  }
  .galleryRender {
    width: 100%;
    text-align: center;
  }
  .date_display {
    font-size: 3vw;
  }
  .h2T {
    font-size: 4vw;
  }
  .h3T {
    font-size: 3vw;
  }
}

/* tablet size */
@media screen and (min-width:720px) and (max-width:1023px){ 
  .navStyle {
    padding: 0 0 0 3vh;
    display: flex;
    color:rgb(143, 133, 123);
    font-size: 8vw;
    border: none;
    font-family: arial;
  }
  .iconImg {
    padding: 0 0 0 0;
    width: 11vw;
    height: 11vw;
  }
  .content {
    padding: 20vw 0 0 0;
  }
  .calendar {
    width:80vw;
    margin:10% 0 0 10vw;
  }
  .calMonthPrev {
    left:3%;
    bottom:55%;
  }
  .calMonthNext {
    right:3%;
    bottom:55%;
  }
  .h2T {
    font-size: 10vw;
  }
  .h3T {
    font-size: 5vw;
  }
}

/* cellphone size */
@media screen and (max-width:720px){ 
  .navStyle {
    padding: 0 0 0 1vh;
    display: flex;
    color:rgb(143, 133, 123);
    font-size: 12vw;
    border: none;
    font-family: arial;
  }
  .content {
    padding: 30vw 0 0 0;
  }
  .calendar {
    width:80vw;
    margin:0 0 0 10vw;
    border-radius: 2vh;
  }
  .calMonthPrev {
    left:0%;
    bottom:55%;
  }
  .calMonthNext {
    right:0%;
    bottom:55%;
  }
  .daysOfTheWeek li{
    font-size: 12%;
  }
  .pageNotFound {
    height:60%;
  }
  .h2T {
    font-size: 10vw;
  }
  .h3T {
    font-size: 5vw;
  }
}